<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <link rel = "stylesheet" href = "/public/main_styles.css">
        <title>{{title}}</title>
    </head>
    <body class = 'results-body'>
        <h1>Shows Found</h1>
        <h2>{{term}}</h2>
        <section class = 'results-list'>
            <ul>
                {{#each results}}
                <li><a href = "/shows/{{show.id}}">{{show.name}}</a></li>
                {{/each}}
            </ul>
            <a class = 'research' href = "/">Make another search</a>
        </section>
    </body>
</html>