<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset = "utf-8">
    <title>Lab 10</title>
</head>
<body>
    <main>
        <p>You have successfully logged out!</p>
        <a href = "/">Click here to go back home!</a>
    </main>
</body>
</html>