<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset = "utf-8">
    <title>Lab 10</title>
</head>
<body>
    <main>
        <h1>Private (Shhh)</h1>
        <p>Your user name is: {{username}} </p>
        <a href = "/logout">Click here to logout</a>
    </main>
</body>
</html>