<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset = "utf-8">
    <title>Lab 10</title>
</head>
<body>
    <header>
        <h1>CS 546 Lab 10!</h1>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>