<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jack's Prime Checker</title>
    <link rel = "stylesheet" href = "/public/css/main.css">
  </head>
  <body>
    <header>
    <h1>Jack's Prime Checker</h1>
  </header>
    {{{body}}}
    <footer>
      <p>Jack Schneiderhan</p>
      <p>Student ID: 10445111</p>
      <p>Computer science major by day, also computer science major by night!</p>
  </footer>
  <script src = "/public/js/form.js"></script>
  </body>
</html>